<!DOCTYPE html>
<html>
<head>
  <title>GreyWind</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'main_style' %>
  
</head>
<body>
<div id = "banner">
	<%= img_tag("GreyWindLogo2.jpg")%>
	<!--<img src = "/views/layouts/images/GreyWindLogo2.JPG" alt = "GREY WIND - Thoughts met words" />-->
</div>
<div id = "content">

<%= yield %>

</div>
</body>
</html>
